---
layout: default
active: home
---

{% include jumbotron.html %}

<div class="container" id="content">


<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Quick Links</h3>
  </div>
  <div class="panel-body">
    <ul>
      <li><a href="#course_info">Course Info</a></li>
{% for week in site.data.weeks %}
      <li><a href="#week_{{ week.number }}">{{ week.name }}</a></li>
{% endfor %}
    </ul>
  </div>
</div>

{% include course_info.html %}

{% for week in site.data.weeks %}

  <a name="week_{{ week.number }}"></a>
  <h2 class="week-label">{{ week.name }}</h2>

{% for day in week.days %}

  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">{{ day.name }}</h3>
    </div>
    <div class="panel-body">
{% if day.override %}
      <div class="row">
        <div class="col-xs-12">
          <p>{{ day.override }}</p>
        </div>
      </div>
{% else %}
      <div class="row">

{% for column in site.data.course.schedule_columns %}
        <!-- {{ column.title }} -->
        <div class="col-sm-4">
          <div class="well well-sm">
            <h4>{{ column.title }}</h4>
            <ul>
  {% for item in day[column.name] %}
    {% if item.link %}
              <li><a href="{{ item.link | prepend: site.baseurl }}">{{ item.text }}</a></li>
    {% elsif item.outbound %}
              <li><a href="{{ item.outbound }}">{{ item.text }}</a></li>
    {% elsif item.text %}
              <li>{{ item.text }}</li>
    {% else %}
      {% if item == "TBA" %}
              <li><span class="text-warning">TBA</span></li>
      {% elsif item == "None" %}
              <li><span class="text-info">None</span></li>
      {% else %}
              <li>{{ item }}</li>
      {% endif %}
    {% endif %}
  {% endfor %}
            </ul>
          </div>
        </div>
{% endfor %}

      </div>
{% endif %}

    </div>
  </div>

{% endfor %}

{% endfor %}

</div>
