

<h3 class="no-top-margin">Course Schedule</h3>
<p>
  The tentative course schedule is below.
</p>

<h3>Textbook</h3>
<p>
  There is no required textbook. I recommend either <i>Fundamentals of Computer Graphics</i> by P. Shirley or <i>Foundations of 3D Computer Graphics</i> by S. Gortler.
  For a reference for modern graphics programming: <i>OpenGL ES 3.0 Programming Guide</i> by D. Ginsburg, et. al.
 </p>

<p>
  You should also be able to access free e-book versions of both textbooks on
  <a href="http://lib.calpoly.edu/search-and-find/textbook-match/?course-number[0]=CPE%20471">the Library website</a>.
</p>


<p>
  There are also numerous helpful tutorial sites for example:
  <ul>
    <li><a href="http://learnopengl.com/">http://learnopengl.com/</a></li>
    <li><a href="http://ogldev.atspace.co.uk/">http://ogldev.atspace.co.uk/</a></li>
    <li><a href="http://www.opengl-tutorial.org/">http://www.opengl-tutorial.org/</a></li>
  </ul>
</p>
